<section *ngIf="(data?.staff) as staff">
  <div class="profile mb-8 p-18">
    <div class="image">
      <div [style.background-image]="staff.profile
                    ? 'url('+ (staff.profile | staticFile) +')'
                    : '/assets/imgs/profile-default.svg'" class="avatar-profile mb-18">
      </div>
      <div class="name">{{staff | fullName}}</div>
      <label class="detail mt-8">
        <mat-icon svgIcon="person" class="mr-4"></mat-icon>
        <span>{{staff.gender}}</span>
      </label>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="action action-self follow-action">
    <button mat-button color="primary" [routerLink]="['/staff/staff-active/detail/', staff._id]">
      <mat-icon svgIcon="eye_alt"></mat-icon>
      ព័ត៌មាន
    </button>
    <span>|</span>
    <button mat-button (click)="onDeleteDayOff(data._id)" color="warn">
      <mat-icon svgIcon="delete"></mat-icon>
      លុប
    </button>
  </div>
</section>
