@use '../variables'as *;

.filter-card {
  align-items: center;
  padding: 10px 10px !important;

  //* Calendar's Styles
  .holiday-container {
    margin-left: auto;
    border-radius: $rounded-md;
    &__btn-group {
      position: relative;
      display: inline-flex;
      vertical-align: middle;

      button {
        border-color: $color-primary;
        color: $color-primary;

        &:not(:last-child) {
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
        }

        &:not(:first-child) {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }

    .holiday-container__cal-title {
      font-size: 25px;
      font-weight: bold;
      color: $color-primary;
    }

    //My Custom
    .calendar-header {
      //width: 100%;

      // display: flex;
      // align-items: center;
      // margin-bottom: $spacing-lg - 7;
      .calendar-button {
        // color: $color-primary;

        // button {
        //   border: 1px solid $color-primary;
        //   ;
        //   padding: $spacing-xs - 2 $spacing-md + 4;
        // }

        .date-today {
          position: relative;
          border-radius: $rounded-sm;
          background: $color-white;
          z-index: 1;
          min-width: 145px;

          .hidden {
            position: absolute;
            top: 0;
            visibility: hidden;
          }
        }

        .date-back {
          // border-right: none;
          transform: translateX(5px);
        }

        .date-forward {
          // border-left: none;
          transform: translateX(-5px);
        }
      }

      .date-display {
        width: 73%;
        text-align: center;

        span {
          font-size: 25px;
          color: $color-primary;
          ;
          font-weight: bold;
        }
      }
    }

    //!Align Text Space Between
    .group-btn {
      margin-left: auto;
    }
  }

  .filter-box {
    .filter-icon {
      width: 18px;
    }

    .common-user-input-field {
      line-height: 32px;
      max-width: 250px;
      font-size: 15px;
      font-weight: 400;
      border-radius: 10px;
      background-color: #fff;
      padding: 0.25em 0.5em;
      border: 1px solid #e7e7e7;
    }

    //*Filter Custom Style
    .mat-badge-medium.mat-badge-overlap.mat-badge-after .mat-badge-content {
      right: -5px;
    }

    .mat-badge-medium.mat-badge-above .mat-badge-content {
      top: 10px;
    }

    .mat-badge-medium .mat-badge-content {
      width: 15px;
      height: 15px;
      line-height: 15px;
      font-size: 10px;
    }
  }

  .search-box {
    width: 100%;

    .mat-form-field {
      max-width: 400px;

      &.mat-form-field-appearance-outline {

        .mat-form-field-outline-start,
        .mat-form-field-outline-end {
          min-width: 18px;
          background-color: white;
        }

        .mat-form-field-wrapper {
          margin: 0;
          padding-bottom: 0;
        }
      }
    }
  }

  &.without-create {
    .search-box {
      width: 100%;

      .mat-form-field {
        margin-left: auto;
      }
    }
  }

  &.with-create,
  &.with-print {
    .filter-search {
      .box:not(:last-child) {
        margin-bottom: 16px;
      }
    }

    .create-btn,
    .group-btn {
      margin-left: auto;
    }

    @media screen and (min-width: 600px) {
      .filter-search {
        display: flex;
        align-items: center;

        .box:not(:last-child) {
          margin-right: 16px;
          margin-bottom: 0;
        }
      }
    }
  }
}

//Custom Filter UI
.menu-filter-panel {
  width: 350px;
  min-width: 350px !important;
  max-width: none !important;
  margin-top: 1em !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: $spacing-md;
  border-radius: $rounded-md !important;

  .menu-filter-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;

    span {
      cursor: pointer;

      &:hover {
        color: $color-red;
      }
    }
  }

  .mat-select-value {
    text-align: center;
  }

  .filter-icon {
    width: 18px;
  }

  .mat-form-field-wrapper {
    padding: 0;
  }

  .mat-form-field-prefix {
    mat-icon {
      color: $color-secondary;
    }
  }

  .mat-form-field.mat-form-field-appearance-outline {
    .mat-form-field-outline-end {
      background-color: #ffffff;
    }
  }
}
