<div class="home">
  <h1 class="title pt-16 pb-16">ផ្ទាំងគ្រប់គ្រង</h1>
  <div class="grid gap-16 col-lg-4 mb-16">
    <mat-card class="mat-elevation-z0 p-32">
      <div class="stat-detail">
        <img src="assets/imgs/dashboard-staff.svg" svgIcon="student" alt="lecturer icon" />
        <div>
          <section class="flex">
            <h1 [countUp]="salarySummary?.max_age ?? 0"></h1><span class="ml-8">ឆ្នាំ</span>
          </section>
          <p>បុគ្គលិកអាយុច្រើនបំផុត</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z0 p-32">
      <div class="stat-detail">
        <img src="assets/imgs/dashboard-staff.svg" svgIcon="student" alt="lecturer icon" />
        <div>
          <section class="flex">
            <h1 [countUp]="salarySummary?.min_age ?? 0"></h1><span class="ml-8">ឆ្នាំ</span>
          </section>
          <p>បុគ្គលិកអាយុតិចបំផុត</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z0 p-32">
      <div class="stat-detail">
        <img src="assets/imgs/dashboard-money.svg" svgIcon="student" alt="earning icon" />
        <div>
          <section class="flex">
            <summary class="mr-8">$</summary>
            <h1 [countUp]="salarySummary?.max_salary"></h1>
          </section>
          <p>ប្រាក់ខែខ្ពស់បំផុត</p>
        </div>
      </div>
    </mat-card>
    <mat-card class="mat-elevation-z0 p-32">
      <div class="stat-detail">
        <img src="assets/imgs/dashboard-money.svg" svgIcon="student" alt="faculty icon" />
        <div>
          <section class="flex">
            <summary class="mr-8">$</summary>
            <h1 [countUp]="salarySummary?.min_salary"></h1>
          </section>
          <p>ប្រាក់ខែទាបបំផុត</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="grid col-lg-12 col-sm-1 col-md-1 col-xs-1 gap-16 ">
    <div class="chart-container col-span-lg-8 p-32">
      <div class="title-and-more">
        <mat-card-header>
          <mat-card-title>
            <h2>ស្ថិតិបុគ្គលិកតាមតំណែង</h2>
          </mat-card-title>
        </mat-card-header>
      </div>
      <app-bar-chart-report [legendDisplay]="legendDisplay" [chartData]="chartData" [chartOptions]="chartOptions"
        [tooltipMode]="tooltipMode">
      </app-bar-chart-report>
    </div>
    <div class="chart-container col-span-lg-4 p-32">
      <div class="title-and-more ">
        <mat-card-header>
          <mat-card-title>
            <h2>ស្ថិតិបុគ្គលិកតាមភេទ</h2>
          </mat-card-title>
        </mat-card-header>
      </div>
      <app-doughnut-chart *ngIf="dougnutChartDataset && doughnutChartLabels" class="doughnut-chart"
        [dougnutChartDataset]="dougnutChartDataset" [doughnutChartLabels]="doughnutChartLabels"
        [dougnutChartDataTotal]="dougnutChartDataTotal"></app-doughnut-chart>
    </div>
  </div>

  <div class="grid gap-16 mt-16">
    <div class="chart-container p-32" [ngStyle]="{'height': 'fit-content'}">
      <div class="title-and-more">
        <mat-card-header>
          <mat-card-title>
            <h2>វត្តមានបុគ្គលិកក្នុងរយៈពេល15ថ្ងៃចុងក្រោយ</h2>
          </mat-card-title>
        </mat-card-header>
      </div>
      <app-line-chart class="line-chart" [lineChartDataset]="staffChartDataset" [lineChartLabel]="lineChartLabel"
        [datasetLabel]="'Staffs Absented'" [ngStyle]="{'margin-top': '0'}">
      </app-line-chart>
    </div>
  </div>

  <div class="mt-16"></div>
  <div class="grid col-lg-12 col-sm-1 col-md-1 col-xs-1 gap-16 mt-16 app-content">
    <div class="title-and-more col-span-lg-12">
      <mat-card-header>
        <mat-card-title>
          <h2>បុគ្គលិកជិតផុតកុងត្រានៅចន្លោះខែ{{firstDay | khmerMonth}} និងខែ{{lastDay | khmerMonth}}</h2>
        </mat-card-title>
      </mat-card-header>
    </div>
    <div class="col-span-lg-12">
      <app-faculty-list></app-faculty-list>
    </div>
  </div>
</div>
