<section class="image-upload-drag">
  <mat-progress-bar class="my-4" *ngIf="uploadProgress && !isSuccessful" [value]="uploadProgress"></mat-progress-bar>
  <div appDropZone (fileDropped)="fileChange($event)" [class.content-required]="onSubmit && !file"
    class="upload-card bg-grey rounded-md border-dashed border p-16 mt-4">
    <div *ngIf="!file" [style.background-image]="'url(assets/imgs/add-image.svg)'" class="content-thumbnail">
    </div>
    <div *ngIf="file" class="file-content">
      <mat-icon class="clear-btn" (click)="removeFile()">clear</mat-icon>
      <div [style.background-image]="'url('+ (imageUrl || 'assets/imgs/add-image.svg') +')'" class="content-thumbnail file"></div>
    </div>
    <div>{{file?.name}}</div>
    <div class="mt-16" *ngIf="!file">
      ទាញរូបភាពរបស់អ្នកមកកាន់ទីនេះឬ
      <strong class="browse-file text-primary" (click)="pickThumbnail.value = ''; pickThumbnail.click();">
        ស្វែករក
      </strong>
    </div>
    <input type="file" #pickThumbnail (change)="fileChange(pickThumbnail.files);"
      accept=".png, .jpg, .jpeg" hidden>

    <image-cropper [ngStyle]="{'width': '15em', 'margin': 'auto'}" *ngIf="file && isFile" [resizeToWidth]="resizeToWidth" [resizeToHeight]="resizeToHeight" [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="aspectRatio"
      format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"></image-cropper>
  </div>
</section>
