<mat-card class="mat-elevation-z0 filter-card without-create grid gap-16 col-sm-2 bg-grey mb-16 border">

  <div class="filter-box">
    <button mat-stroked-button [matMenuTriggerFor]="menu" class="bg-white rounded-md py-2" *ngIf="!hideFilter">
      <mat-icon [matBadge]="filterSet.size || null" svgIcon="filter" matPrefix class="filter-icon"></mat-icon>
      <span class="px-8">ស្រង់តាម</span>
      <mat-icon matSuffix>expand_more</mat-icon>
    </button>
    <mat-menu #menu class="menu-filter-panel">
      <div class="menu-filter-header">
        <b>ស្រង់តាម</b>
        <span *ngIf="filterSet.size" (click)="reset(); $event.stopPropagation()" class="menu-filter-panel__clear">លុបចេញ​ទាំងអស់</span>
      </div>
      <div class="grid gap-x-16 col-md-2 col-lg-2 col-xl-2" (click)="$event.stopPropagation()" (keyup)="null">
        <div *ngFor="let option of filters;" class="mt-8">
          <label for="">{{option.labelFunc | titlecase}}</label>
          <mat-form-field appearance="outline">
            <mat-icon [svgIcon]="option.svgIcon" matPrefix class="filter-icon">{{option.matIcon}}</mat-icon>
            <mat-select [(value)]="option.selectedValue" (selectionChange)="onFilter(option, $event.value);" #select>
              <mat-select-trigger>
                <span>{{option?.selectedValue?.label}}</span>
              </mat-select-trigger>
              <mat-option *ngFor="let item of option.data" [value]="item">{{item?.label}}</mat-option>
            </mat-select>
            <mat-icon matSuffix>expand_more</mat-icon>
          </mat-form-field>
        </div>
      </div>
    </mat-menu>
  </div>

  <div class="search-box">
    <mat-form-field appearance="outline">
      <input matInput type="text" #searchQuery (keyup)="search(searchQuery.value)" placeholder="search...">
      <mat-icon svgIcon="search" matPrefix></mat-icon>
      <button *ngIf="searchQuery.value" mat-icon-button matSuffix (click)="searchQuery.value = ''; clear()">
        <mat-icon>clear</mat-icon>
      </button>
    </mat-form-field>
  </div>
</mat-card>
