<div id="table">
  <div class="progress-table">
    <mat-progress-bar class="progress-bar" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  </div>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
    <ng-container matColumnDef="ID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ល.រ</th>
      <td mat-cell *matCellDef="let element, let i=index">
        <span class="mobile-label">ល.រ:</span>
        <span>{{params.page === 1 ? (i + 1) : i + 1 + (params.limit * (params.page - 1))}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="col-header-name"> ឈ្មោះ </th>
      <td mat-cell *matCellDef="let element" class="col-image-name">
        <span class="mobile-label">ឈ្មោះ:</span>
        <div class="thumbnail-list">
          <div [ngStyle]="{ 'background-image': element.profile ? 'url(' + (element.profile | staticFile) +')' :  'url(/assets/imgs/profile-default.svg)' }" class="profile-picture"></div>
          <span>{{element.first_name}} {{element.last_name}}</span>
      </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="staff_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>លេខសម្គាល់បុគ្គលិក</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">លេខសម្គាល់បុគ្គលិក:</span>
        <span>{{ element.staff_id }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>អាយុ</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">អាយុ:</span>
        <span>{{ element.age + 'ឆ្នាំ' }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="gender">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ភេទ</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">ភេទ:</span>
        <span>{{ element.gender }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>តំណែង</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">តំណែង:</span>
        <span>{{ element.position?.title }}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="hire_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ថ្ងៃចូលធ្វើការ</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">ថ្ងៃចូលធ្វើការ:</span>
        <span>
          {{ element.hire_date | date: 'dd' }}
          {{ element.hire_date | date: 'MM' | khmerMonth }}
          {{ element.hire_date | date: 'yyyy' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="contract_expiry_date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ថ្ងៃផុតកុងត្រា</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">ថ្ងៃផុតកុងត្រា:</span>
        <span>
          {{ element.contract_expiry_date | date: 'dd' }}
          {{ element.contract_expiry_date | date: 'MM' | khmerMonth }}
          {{ element.contract_expiry_date | date: 'yyyy' }}
        </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="_id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ព័ត៌មានលម្អិត</th>
      <td mat-cell *matCellDef="let element">
        <span class="mobile-label">ព័ត៌មានលម្អិត</span>
        <button mat-stroked-button color="primary" [matMenuTriggerFor]="menu" class="btn-sm" #tooltip="matTooltip"
          matTooltip="More" matTooltipPosition="right">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu" xPosition="before">
          <a [routerLink]="['/staff/staff-active/detail/' + element._id]" class="menu-item">
            <button mat-menu-item>
              <mat-icon svgIcon="visibility"></mat-icon>
              <span>មើលព័ត៌មានលម្អិត</span>
            </button>
          </a>
          <a [routerLink]="['/staff/staff-active/manage-attendant-year', element._id]" class="menu-item">
            <button mat-menu-item>
              <mat-icon svgIcon="attendant"></mat-icon>
              <span>វត្តមាន</span>
            </button>
          </a>
          <a [routerLink]="['/staff/staff-active/manage-salary', element._id]" class="menu-item">
            <button mat-menu-item>
              <mat-icon>currency_exchange</mat-icon>
              <span>គ្រប់គ្រងប្រាក់ខែ</span>
            </button>
          </a>
          <a [routerLink]="['/staff/staff-active/manage-contact', element._id]" class="menu-item">
            <button mat-menu-item>
              <mat-icon>edit_document</mat-icon>
              <span>គ្រប់គ្រងកុងត្រា</span>
            </button>
          </a>
        </mat-menu>
      </td>
    </ng-container>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="12">
        <div class="empty grid p-32  content-center">
          <app-empty *ngIf="!isLoading; else loading"></app-empty>
          <ng-template #loading>
            <strong align="center">កំពុងផ្ទុក...</strong>
          </ng-template>
        </div>
      </td>
    </tr>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
<app-pagination [total]="total" [limit]="params.limit" [page]="params.page" [surroundButton]="6"
  (changed)="goTo($event)">
</app-pagination>
