<div class="app-content">
    <div>
        <div class="app-header">
            <h1 class="app-title">ការកំណត់</h1>
        </div>
        <div class="setting-content grid gap-16 col-sm-2 col-md-3 col-lg-4">
            <a *ngFor="let item of settings" class="card-container" [routerLink]="item.route">
                <mat-card>
                    <div [style.background-image]="'url(assets/icons/' + item.svgIcon + ')'" class="svg-of-card"></div>
                    <span>{{item.title}}</span>
                </mat-card>
            </a>
        </div>
    </div>
</div>
