<div class="timetable">
  <div class="table-schedule">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z0 table-custom">
      <ng-container [matColumnDef]="col" *ngFor="let col of  displayedColumns; let i = index ">
        <th mat-header-cell *matHeaderCellDef>
          <span *ngIf="col !== 'time'; else time">{{col}}</span>
          <ng-template #time></ng-template>
        </th>
        <td mat-cell *matCellDef="let element; let j = index" class="schedule-data-wrapper">
          <section *ngIf="!element[col]?.time && i!==1 && j!==0">
            <span class="text-grey" style="font-weight: 500;">{{element[col]}}</span>
          </section>
          <div
            *ngIf="element[col]?.time"
            class="td-scheduled schedule-data custom-bg"
            [style.top]="element[col]?.top === 0 ?  'calc('+element[col]?.top+'%)' : element[col]?.top + '%'"
            [style.height]="(element[col]?.height.percentage+'%')"
          ></div>
          <section
            *ngIf="element[col]?.time"
            class="td-scheduled schedule-data content-box"
            [style.top]="element[col]?.top === 0 ?  'calc('+element[col]?.top+'%)' : element[col]?.top + '%'"
            [style.height]="(element[col]?.height.percentage+'%')"
            [style.background-color]="(element[col]?.subject?.color === '#ffffff' || element[col]?.subject.length > 1) ? 'rgb(79 149 115 / 10%)' : element[col]?.subject.color | colorOpacity: 0.1"
          >
            <div
              class="v-line"
              [style.background-color]="(element[col]?.subject.color === '#ffffff' || element[col]?.subject.length > 1) ? 'rgb(79 149 115)' : element[col]?.subject.color "
            ></div>
            <div class="content">
              {{element[col].time.start_time.originalSecond | time}}
              {{' - '+(element[col].time.end_time.originalSecond | time) }}
            </div>
            <div class="content">
              <b>{{ element[col]?.subject.name}}</b>
            </div>
            <div class="content">
              <span>{{element[col].staff.title}}{{element[col].staff | fullName}}</span>
            </div>
            <div class=" content-box" *ngIf="element[col]?.subject &&  isEdit">
              <div class="action ">
                <button (click)="emitAction(element[col], 'edit')" mat-stroked-button color="accent" class="btn-sm">
                  <mat-icon svgIcon="edit"></mat-icon>
                </button>
                <button (click)="emitAction(element[col], 'delete')" mat-stroked-button color="warn" class="btn-sm">
                  <mat-icon svgIcon="delete"></mat-icon>
                </button>
              </div>
            </div>
          </section>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
