

mat-dialog-content {
  min-width: 25em;
  .alert-icon-dialog {
    width: 100%;
    display: grid;
    place-items: center;
    margin: 1em 0;

    img {
      width: 50%;
      max-height: 10em;
    }
  }
}

.btn-action-dialog {
  padding: 20px 0 !important;
}
