<div class="app-content staff-attendance staff-attendance">
  <div class="app-title">
    <div class="head-left">
      <a [routerLink]="['../../']" mat-icon-button>
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </a>
      <div class="mr-16"></div>
      <h1 class="title">បញ្ជីបុគ្គលិក</h1>
    </div>
  </div>

  <div class="detail-form grid gap-16 col-12">
    <div class="profile-with-name mb-16 col-span-4">
      <img class="school-profile"
        [src]="staff?.profile ? (staff?.profile | staticFile) : '/assets/imgs/profile-default.svg'"
        alt="profile picture">
      <div class="grid gap-4 ml-16">
        <div class="value name mb-8">{{staff | fullName}}</div>
        <div>អត្តលេខ: {{' '+ staff?.staff_id}}</div>
      </div>
    </div>
    <div class="col-span-8">
      <div label="General Information">
        <div class="grid gap-16 col-sm-3">
          <div>
            <label>ភេទ</label>
            <div class="value">{{staff?.gender === 'male' ? 'ប្រុស' :  'ស្រី'}}</div>
          </div>
          <div>
            <label>ថ្ងៃកំណើត</label>
            <div class="value">
              {{ staff?.date_of_birth | date: 'dd' }}
              {{ staff?.date_of_birth | date: 'MM' | khmerMonth }}
              {{ staff?.date_of_birth | date: 'yyyy' }}
            </div>
          </div>
          <div>
            <label>តំណែង</label>
            <div class="value">{{staff?.position}}</div>
          </div>
          <div>
            <label>វត្តមាន</label>
            <div class="value">{{ totalAttendance?.present }}</div>
          </div>
          <div>
            <label>អវត្តមាន</label>
            <div class="value">{{ totalAttendance?.absent }}</div>
          </div>
          <div>
            <label>ច្បាប់</label>
            <div class="value">{{ totalAttendance?.permit }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-form">
    <div class="flex justify-between mt-16">
      <div class="header-label">វត្តមានក្នុងខែនេះ</div>
    </div>
    <app-filter (queryFilter)="setParams($event)" [hide]="['dateRange', 'date', 'search']" [useFilters]="['attendance_type', 'shift_type']"></app-filter>
    <div id="table">
      <div class="progress-table">
        <mat-progress-bar class="progress-bar" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      </div>
      <table mat-table matSort [dataSource]="dataSource" class="mat-elevation-z0">

        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> ល.រ </th>
          <td mat-cell *matCellDef="let element; let i = index">
            <span class="mobile-label">ល.រ:</span>
            {{params.page === 1 ? (i + 1) : i + 1 + (params.limit * (params.page - 1))}}
          </td>
        </ng-container>


        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> ថ្ងៃ </th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">ថ្ងៃ:</span>
            {{ element.createAt | date: 'dd' }}
            {{ element.createAt | date: 'MM' | khmerMonth }}
            {{ element.createAt | date: 'yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="shift">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> វេន </th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">វេន:</span>
            {{element.shift_type | attendanceTranslate}}
          </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> ប្រភេទវត្តមាន </th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">ប្រភេទវត្តមាន:</span>
            <div class="label" [ngClass]="element.attendance_type | lowercase">
              <span></span>
              {{element.attendance_type | attendanceTranslate}}
            </div>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="12">
            <div class="empty grid p-32  content-center">
              <app-empty *ngIf="!isLoading; else loading"></app-empty>
              <ng-template #loading>
                <strong align="center">កំពុងផ្ទុក...</strong>
              </ng-template>
            </div>
          </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <app-pagination [total]="total" [limit]="params.limit" [page]="params.page" [surroundButton]="6"
      (changed)="goTo($event)">
    </app-pagination>

  </div>
</div>
