<div class="app-content about-of-study">
  <section>
    <div class="app-title">
      <h1 class="title">បញ្ជីបុគ្គលិក</h1>
      <div class="group-btn">
        <button mat-raised-button color="print" class="create-btn" [matMenuTriggerFor]="menu">
          <mat-icon>file_download</mat-icon>
          ទាញយក
        </button>
        <button mat-raised-button color="print" class="create-btn" [matMenuTriggerFor]="menu1">
          <mat-icon>file_download</mat-icon>
          ទាញយកទាំងអស់
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="export(1)" [disabled]="staffs?.length < 1">
            <mat-icon svgIcon="pdf-icon"></mat-icon>
            <span>PDF</span>
          </button>
          <button mat-menu-item (click)="export(2)">
            <mat-icon svgIcon="csv-icon"></mat-icon>
            <span>Excel</span>
          </button>
        </mat-menu>
        <mat-menu #menu1="matMenu">
          <button mat-menu-item (click)="exportAll(1)">
            <mat-icon svgIcon="pdf-icon"></mat-icon>
            <span>PDF</span>
          </button>
          <button mat-menu-item (click)="exportAll(2)">
            <mat-icon svgIcon="csv-icon"></mat-icon>
            <span>Excel</span>
          </button>
        </mat-menu>
      </div>
    </div>
    <mat-tab-group animationDuration="500ms" [selectedIndex]="index" (selectedIndexChange)="onIndexChange($event)">
      <mat-tab label="បុគ្គលិកទាំងអស់">
        <app-staff (dataEvent)="onGetData($event)" *ngIf="index === 0"></app-staff>
      </mat-tab>

      <mat-tab label="បុគ្គលិកកំពុងធ្វើការ">
        <app-staff (dataEvent)="onGetData($event)" *ngIf="index === 1"></app-staff>
      </mat-tab>

      <mat-tab label="បុគ្គលិកបានឈប់">
        <app-staff (dataEvent)="onGetData($event)" *ngIf="index === 2"></app-staff>
      </mat-tab>
    </mat-tab-group>
  </section>
</div>
