<div class="app-content staff-salary">
  <div class="app-title">
    <div class="head-left">
      <a [routerLink]="['../../']" mat-icon-button>
        <mat-icon>
          keyboard_arrow_left
        </mat-icon>
      </a>
      <div class="mr-16"></div>
      <h1 class="title">បញ្ជីបុគ្គលិក</h1>
    </div>
  </div>

  <div class="detail-form grid gap-16 col-sm-12">
    <div class="profile-with-name mb-16 col-span-4">
      <img class="school-profile"
        [src]="staff?.profile ? ('size=m' + staff?.profile | staticImage) : '/assets/imgs/profile-default.svg'"
        alt="profile picture">
      <div class="grid gap-4 ml-16">
        <div class="value name mb-8">{{staff | fullName}}</div>
        <div>អត្តលេខ: {{' '+ staff?.staff_id}}</div>
      </div>
    </div>
    <div class="col-span-8">
      <div label="General Information">
        <div class="grid gap-16 col-sm-3">
          <div>
            <label>ភេទ</label>
            <div class="value">{{staff?.gender}}</div>
          </div>
          <div>
            <label>ថ្ងៃកំណើត</label>
            <div class="value">
              {{ staff?.date_of_birth | date: 'dd' }}
              {{ staff?.date_of_birth | date: 'MM' | khmerMonth }}
              {{ staff?.date_of_birth | date: 'yyyy' }}
            </div>
          </div>
          <div>
            <label>ជនជាតិ</label>
            <div class="value">{{staff?.ethnicity.nationality}}</div>
          </div>
          <div>
            <label>សញ្ជាតិ</label>
            <div class="value">{{staff?.nationality.nationality}}</div>
          </div>
          <div>
            <label>តំណែង</label>
            <div class="value">{{staff?.position?.title}}</div>
          </div>
          <div>
            <label>លេខទូរស័ព្ទ</label>
            <div class="phone-number">
              <div class="value">{{staff?.phone}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="detail-form">
    <div class="flex justify-between item-center mb-16 mt-16">
      <div class="header-label" style="margin-bottom: 0">ប្រវត្តិនៃការកែប្រែកុងត្រា</div>
      <button mat-raised-button color="primary" class="create-btn" (click)="updateContract()">
        <mat-icon svgIcon="add_new"></mat-icon>
        កែប្រែកុងត្រា
      </button>
    </div>
    <div id="table">
      <div class="progress-table">
        <mat-progress-bar class="progress-bar" *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
      </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z0">
        <ng-container matColumnDef="ID">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ល.រ</th>
          <td mat-cell *matCellDef="let element, let i=index">
            <span class="mobile-label">ល.រ:</span>
            <span>{{params.page === 1 ? (i + 1) : i + 1 + (params.limit * (params.page - 1))}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="hire_date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ថ្ងៃចូលធ្វើការ</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">ថ្ងៃចូលធ្វើការ:</span>
            <span>
              {{ element.hire_date | date: 'dd' }}
              {{ element.hire_date | date: 'MM' | khmerMonth }}
              {{ element.hire_date | date: 'yyyy' }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="current_expired_contract">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ថ្ងៃផុតកុងត្រាចាស់</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">ថ្ងៃផុតកុងត្រាចាស់:</span>
            {{ element.current_expired_contract | date: 'dd' }}
            {{ element.current_expired_contract | date: 'MM' | khmerMonth }}
            {{ element.current_expired_contract | date: 'yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="new_expired_contract">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ថ្ងៃផុតកុងត្រាថ្មី</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">ថ្ងៃផុតកុងត្រាថ្មី:</span>
            {{ element.new_expired_contract | date: 'dd' }}
            {{ element.new_expired_contract | date: 'MM' | khmerMonth }}
            {{ element.new_expired_contract | date: 'yyyy' }}
          </td>
        </ng-container>

        <ng-container matColumnDef="createAt">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>ថ្ងៃកែប្រែ</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">ថ្ងៃកែប្រែ:</span>
            <span>
              {{ element.createAt | date: 'dd' }}
              {{ element.createAt | date: 'MM' | khmerMonth }}
              {{ element.createAt | date: 'yyyy' }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="current_duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>រយៈពេលកុងត្រាចាស់</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">រយៈពេលកុងត្រាចាស់:</span>
            <span>{{element.current_duration | duration}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>រយៈពេលកុងត្រាថ្មី</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">រយៈពេលកុងត្រាថ្មី:</span>
            <span *ngIf="element.duration">{{element.duration | duration}}</span>
            <mat-icon *ngIf="!element.duration">timer_off</mat-icon>
          </td>
        </ng-container>

        <ng-container matColumnDef="duration_total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>រយៈពេលកុងត្រា(ចាស់​ + ថ្មី)</th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label">រយៈពេលកុងត្រាថ្មី:</span>
            <span>{{element.duration_total | duration}}</span>
          </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
          <td mat-cell *matCellDef="let element">
            <span class="mobile-label"></span>
            <div class="action">
              <button mat-stroked-button class="btn-sm" (click)="onDelete(element._id)">
                <mat-icon svgIcon="trash_can"></mat-icon>
              </button>
            </div>
          </td>
        </ng-container>

        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="12">
            <div class="empty grid p-32  content-center">
              <app-empty *ngIf="!isLoading; else loading"></app-empty>
              <ng-template #loading>
                <strong align="center">កំពុងផ្ទុក...</strong>
              </ng-template>
            </div>
          </td>
        </tr>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <app-pagination [total]="total" [limit]="params.limit" [page]="params.page" [surroundButton]="6"
      (changed)="goTo($event)">
    </app-pagination>
  </div>
</div>
